<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top GPUs Gaming 2026</title>
    <link rel="stylesheet" href="gpu.css">
</head>
<body>

<div class="container">
    <a href="../../home/index.html" class="back-btn">← Volver al Inicio</a>
    <h1 id="main-title"></h1>

    <!-- Sección del Top (Podio) -->
    <div class="podium-container" id="podium-gpus"></div>

    <!-- Sección de la Tabla Completa -->
    <div class="table-container">
        <table>
            <thead>
                <tr id="table-headers"></tr>
            </thead>
            <tbody id="table-body"></tbody>
        </table>
    </div>
</div>

<script type="module" src="gpu.js"></script>

</body>
</html>
