<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top SSD NVMe</title>
    <link rel="stylesheet" href="ssd.css">
</head>
<body>
<div class="container">
    <a href="../../home/index.html" class="back-btn">← Volver al Inicio</a>
    <h1 id="main-title"></h1>
    <div class="table-container">
        <table>
            <thead>
                <tr id="table-headers"></tr>
            </thead>
            <tbody id="table-body"></tbody>
        </table>
    </div>
</div>
<script type="module" src="ssd.js"></script>
</body>
</html>
